html {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/273/670/327/world-war-ii-war-artwork-pavel-bondarenko-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
}

h1 {
  color: red;
  text-align: center;
  font-size: 5em;
}

main {
  text-align: center;
  display: block;
  height: 70vh;
  display: flex;
}

.player-title {
  color: red;
  font-size: 1.5em;
  display: flex;
}

#playerOneTitle {
  display: block;
  text-align: left;
  margin-left: none;
  padding-left: 234px;
}

#playerTwoTitle {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: 0px;
  padding-right: 234px;
  text-align: right;
}

#player1 {
  color: white;
  width: 30vw;
  margin-right: auto;
  padding: 20px;
  border-style: solid;
}

#player2 {
  display: block;
  color: white;
  width: 30vw;
  margin-left: auto;
  padding: 20px;
  border-style: solid;
}
